<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style.ejs"); %>
    
</head>
<body>
    <div class="page">
        <div class="header">
            <h1 class="title">Weird Webchat</h1>
            <p class="id" id="id">Your ID: </p>
        </div>
        <div class="messageContainer" id="messageContainer">

        </div>
        <div class="footer">
            <input class="input" id="input" placeholder="Type your message here">
            <input class="input" id="recipient" placeholder="Type userID or 'all' here">
            <button class="btn" onclick="sendData()">Send</button>
        </div>
    </div>
    <%- include("main.ejs"); %>
</body>
</html>
