head, body {
    margin: 0px;
    padding: 0px;
}

.header {
    position : absolute;
    width: 100vw;
    height: auto;
    background-color: brown;
}

.title {
    margin: 10px;
    color: rgb(100, 0, 0);
    user-select: none;
}
